<a [routerLink]="['/']">
  <h1>Home</h1>
</a>
<a [routerLink]="['services']">
  <h1>Services</h1>
</a>
<a [routerLink]="['about']">
  <h1>About</h1>
</a>
<a [routerLink]="['reviews']">
  <h1>Reviews</h1>
</a>

<a [routerLink]="['contact']">
  <h1>Contact Us</h1>
</a>

<a [routerLink]="['sign']">
    <h1 id="signIn">Sign In</h1>
  </a>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
