<div class = "sm-logo-wrapper">
  <a href="https://twitter.com/PlowsUs"><img class = "social-media-logos" src="../../assets/img/twitter.svg"></a>
  <a href="https://www.instagram.com/plowsrus/?hl=en"><img class = "social-media-logos" src="../../assets/img/instagram.svg"></a>
  <a href="https://www.linkedin.com/in/plows-r-us-inc-8161ab199"><img class = "social-media-logos" src="../../assets/img/linked_in.svg"></a>
</div>
<div class = "slogan-wrapper">
  <p id = "slogan"> Say No to Snow and use Plows R Us</p>
</div>

