<h2><u>About Our Company</u></h2>

<p>Plows R Us was established in 2019 by a group of students who found it hard to get to class in the winter,
  due to the large amounts of snow. Our company's promise is to get your snow cleared within 1-3 hours of your
  service request. In addition, we will strive to bring the most thorough service in all of southeastern Wisconsin.
  We have three locations surrounding the area in Milwaukee County, Dane Country, and Fon Du Lac County.</p>

<br>

<app-faq></app-faq>
<app-footer></app-footer>
